.chart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}

.header {
    margin-right: 100px;
    color: #FF4040;
}

@media screen and (max-width:576px) {
    .chart-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }

}